html {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXy_xS4zKVkzC3LVjqRzdP6EQ6kAd5XfM_nw&usqp=CAU);
    border-image: url();
}




.ugly--animals {
    display: flex;
    border: 4px dotted blue;
    justify-content: center;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXuYlGuZEqxNOTyn3I3zEsl5N7U_G3n5dUkw&usqp=CAU);
    margin: 4rem;
}



h1 {
    font-size: 96pt;
    text-align: center;
    color: blueviolet;
    text-shadow: 2px 2px pink;
    font-family: 'Changa One', cursive;

}